h1 {
    font-family: $raleway ;
    font-weight: $regular;
    font-size: $xx-large;
}

h5 {
    font-family: $raleway ;
    font-weight: bold;
    font-size: $large;
    
}

h4 {
    font-family: $raleway ;
    font-weight: $bold;
    font-size: $small;
   
}

p {
    font-family: $raleway ;
    font-weight: $regular;
    font-size: $small; 
    
}

