//Fonts//:

$raleway: "Raleway", sans-serif;

//Font-weights//:

$light: 300;
$regular: 400;
$bold: 700;

//Font-sizes//:
$x-small: 13px;
$small: 18px;
$medium: 24px;
$large: 26px;
$x-large: 28px;
$xx-large: 34px;


//Views-Breakpoints//:

$max-mobile-xs: 576px;
$max-mobile: 768px;
$max-tablet: 992px;
$min-laptop: 1200px;


